/** region Variables */

$primary: #3498db;
$font-family-base: "Roboto", serif;
$body-bg: #f9f9ff;

$font-weight-lighter: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 500;
$font-weight-bolder: 700;

$min-contrast-ratio: 2;

$link-decoration: none;

$border-radius-lg: 2rem;
$btn-border-radius-lg: 1rem;

$primary-container: #3498db1f;

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/variables-dark";

$grid-breakpoints: map-remove($grid-breakpoints, "xl", "xxl",);
$container-max-widths: map-remove($container-max-widths, "sm", "md", "lg", "xl");
$theme-colors: map-remove(
    $theme-colors,
    "success",
    "info",
    "warning",
    "danger",
    "dark",
);

@import "node_modules/bootstrap/scss/maps";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/utilities";

/** endregion */

/* region Font */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');

@mixin ft-slab() {
  font-family: "Roboto Slab", serif;
}

/** endregion */

/** region Bootstrap */

@import "node_modules/bootstrap/scss/root";
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
//@import "../node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/containers";
@import "node_modules/bootstrap/scss/grid";
//@import "node_modules/bootstrap/scss/tables";
//@import "../node_modules/bootstrap/scss/forms";
@import "node_modules/bootstrap/scss/buttons";
//@import "node_modules/bootstrap/scss/transitions";
//@import "../node_modules/bootstrap/scss/dropdown";
//@import "../node_modules/bootstrap/scss/button-group";
//@import "../node_modules/bootstrap/scss/nav";
//@import "../node_modules/bootstrap/scss/navbar";
//@import "../node_modules/bootstrap/scss/card";
//@import "node_modules/bootstrap/scss/accordion";
//@import "../node_modules/bootstrap/scss/breadcrumb";
//@import "../node_modules/bootstrap/scss/pagination";
//@import "../node_modules/bootstrap/scss/badge";
//@import "../node_modules/bootstrap/scss/alert";
//@import "../node_modules/bootstrap/scss/progress";
@import "node_modules/bootstrap/scss/list-group";
//@import "../node_modules/bootstrap/scss/close";
//@import "../node_modules/bootstrap/scss/toasts";
//@import "../node_modules/bootstrap/scss/modal";
//@import "../node_modules/bootstrap/scss/tooltip";
//@import "../node_modules/bootstrap/scss/popover";
//@import "../node_modules/bootstrap/scss/carousel";
//@import "../node_modules/bootstrap/scss/spinners";
//@import "../node_modules/bootstrap/scss/offcanvas";
//@import "../node_modules/bootstrap/scss/placeholders";
@import "node_modules/bootstrap/scss/helpers";
@import "node_modules/bootstrap/scss/utilities/api";

/** endregion */

html,
body {
  font-size: 15px;
  display: flex;
  flex-direction: column;

  @at-root {
    @include media-breakpoint-down('sm') {
      & {
        font-size: 14px;
      }
    }
  }
}

img {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
}

.wave {
  display: block;
  width: 100%;

  &.wave-flip {
    scale: -1;
    margin-top: -1px;
  }
}

section {
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);

  .section-subtitle {
    font-size: $font-size-base;
  }
}

.section-header {
  @include ft-slab();

  color: $text-muted;
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  margin-bottom: 32px;
}

#header {
  box-shadow: var(--bs-box-shadow-sm);
  background: unset;
  backdrop-filter: blur(100px);
  position: sticky;
  top: 0;
  z-index: 1;

  .inner {
    @extend .container;

    display: flex;
    align-items: center;
    gap: map_get($spacers, 2);
    padding-top: map_get($spacers, 3);
    padding-bottom: map_get($spacers, 3);

    .header-brand {
      display: flex;
      align-items: center;
      gap: map_get($spacers, 3);
      color: var(--bs-body-color);

      .header-logo {
        width: 32px;
      }
    }
  }
}

#cover {
  padding-top: 15rem;
  padding-bottom: 15rem;
  background-image: url("img/background.png");
  background-repeat: repeat;
  background-size: 1400px;
  animation: bgMove 100s linear infinite;

  @keyframes bgMove {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -1400px 0; /* Controls speed & distance */
    }
  }

  .inner {
    @extend .container;

    .cover-logo {
      width: 256px;
      margin-left: -20px;
    }
  }
}

#identity {
  .inner {
    @extend .container;

    gap: 10rem;
    padding-top: 10rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;

    @at-root {
      @include media-breakpoint-down('md') {
        & {
          gap: 5rem;
          padding-top: 5rem;
          padding-bottom: 5rem;
        }
      }
    }
  }

  .col-inner {
    display: flex;
    height: 100%;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  img {
    width: 100%;
    border-radius: $border-radius-lg;
  }
}

#team {
  background-image: url("img/ship-2.jpeg");
  box-shadow: inset 0 0 0 1000rem rgba(0, 0, 0, 0.3);
  background-size: cover;
  background-position: center;

  .inner {
    @extend .container;

    justify-content: center;

    .person {
      backdrop-filter: blur(20px);
      border-radius: $border-radius-lg;
      padding: map-get($spacers, 3) map-get($spacers, 4);
      border: 1px solid rgba(255, 255, 255, 0.1);
      border-top-width: 0;
      border-left-width: 0;
      display: flex;
      flex-direction: column;
      height: 100%;
      min-height: 160px;

      .name {
        font-size: $h4-font-size;
        font-weight: $font-weight-bold;
      }

      .profession {
        margin-top: map-get($spacers, 2);
        margin-bottom: map-get($spacers, 2);
      }

      .icons {
        display: flex;
        align-items: center;
        gap: map-get($spacers, 2);
        margin-top: auto;

        .icon {
          padding: 8px;
          border-radius: $border-radius-pill;
          background: $primary-container;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          img {
            width: 18px;
            height: 18px;
          }
        }
      }
    }
  }
}

#faq {
  .inner {
    @extend .container;

    .accordion {
      overflow: hidden;

      .item {
        position: relative;
        border-radius: $border-radius-xl;
        transition: background 0.2s ease-in-out;
        padding: map-get($spacers, 3) map-get($spacers, 4);

        &:not(:first-child) {
          margin-top: map-get($spacers, 2);
        }

        &:hover {
          background: $primary-container;
        }

        &:has(input:checked) {
          background: $primary-container;
        }

        input {
          position: absolute;
          opacity: 0;
          z-index: -1;

          &:checked {

            ~ .body {
              max-height: 20rem;
            }

            ~ .header {
              padding-bottom: map-get($spacers, 4);
            }
          }
        }

        .header {
          justify-content: space-between;
          border-radius: $border-radius-xl;
          display: flex;
          cursor: pointer;
          transition: all 0.2s ease;
          padding: map-get($spacers, 3) map-get($spacers, 4);
          margin: -#{map-get($spacers, 3)} -#{map-get($spacers, 4)};
          font-size: $h5-font-size;
          font-weight: $font-weight-normal;
        }

        .body {
          color: $text-muted;
          max-height: 0;
          padding: 0;
          overflow: hidden;
          transition: all 0.2s ease;
        }
      }
    }
  }
}

#contact {
  .inner {
    @extend .container;

    .list-group {
      --bs-list-group-bg: transparent;
      --bs-list-group-border-width: 0;
      --bs-list-group-action-hover-bg: #3498db1f;
      --bs-list-group-border-radius: var(--bs-border-radius-2xl);

      .list-group-item {
        border-radius: $border-radius-xl;

        img {
          width: 24px;
          height: 24px;
        }
      }
    }

    .contact-map {
      margin-bottom: map_get($spacers, 3);

      iframe {
        border-radius: $border-radius;
        overflow: hidden;
        width: 100%;
        height: 480px;
        margin: 0;
      }
    }
  }
}

#footer {
  @extend .border-top;

  border-bottom: 8px solid var(--bs-primary);
  margin-top: 1rem;

  .inner {
    @extend .container;
    text-align: center;
    padding-top: map_get($spacers, 5);
    padding-bottom: map_get($spacers, 5);

    .footer-text,
    .footer-designer {
      display: block;
    }

    .footer-designer {
      @extend .link-secondary;
      margin-top: map_get($spacers, 2);
      font-size: $font-size-sm;
    }
  }
}